In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import re

root = "../dataset/"

In [80]:
# import physical data
df_physical = pd.read_csv(os.path.join(root, "Physical dataset/physical_analysed.csv"))

In [81]:
# change time to datetime
df_physical["Time"] = pd.to_datetime(df_physical["Time"])
df_physical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10909 entries, 0 to 10908
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Time                10909 non-null  datetime64[ns]
 1   Tank_1              10909 non-null  int64
 2   Tank_2              10909 non-null  int64
 3   Tank_3              10909 non-null  int64
 4   Tank_4              10909 non-null  int64
 5   Tank_5              10909 non-null  int64
 6   Tank_6              10909 non-null  int64
 7   Tank_7              10909 non-null  int64
 8   Tank_8              10909 non-null  int64
 9   Pump_1              10909 non-null  int64
 10  Pump_2              10909 non-null  int64
 11  Pump_4              10909 non-null  int64
 12  Pump_5              10909 non-null  int64
 13  Pump_6              10909 non-null  int64
 14  Flow_sensor_1       10909 non-null  int64
 15  Flow_sensor_2       10909 non-null  int64
 16  Flow_sensor_4       10909 non-null  int64
 17  Valv_10             10909 non-null  int64
 18  Valv_11             10909 non-null  int64
 19  Valv_12             10909 non-null  int64
 20  Valv_13             10909 non-null  int64
 21  Valv_14             10909 non-null  int64
 22  Valv_15             10909 non-null  int64
 23  Valv_17             10909 non-null  int64
 24  Valv_18             10909 non-null  int64
 25  Valv_20             10909 non-null  int64
 26  Valv_22             10909 non-null  int64
 27  Label_n             10909 non-null  int64
 28  Label               10909 non-null  object
 29  attack number       10909 non-null  int64
 30  attack_type_number  10909 non-null  int64
dtypes: datetime64[ns](1), int64(29), object(1)
memory usage: 2.6+ MB

In [82]:
df_physical.head()

,Time,Tank_1,Tank_2,Tank_3,Tank_4,Tank_5,Tank_6,Tank_7,Tank_8,Pump_1,...,Valv_14,Valv_15,Valv_17,Valv_18,Valv_20,Valv_22,Label_n,Label,attack number,attack_type_number
0,2021-04-09 11:30:50,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,normal,0,0
1,2021-04-09 11:30:51,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,normal,0,0
2,2021-04-09 11:30:52,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,normal,0,0
3,2021-04-09 11:30:53,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,normal,0,0
4,2021-04-09 11:30:54,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,normal,0,0

In [83]:
# import network data
df_network_normal = pd.read_csv(os.path.join(root, "Network datatset/csv/normal.csv"))
df_network_att_1 = pd.read_csv(os.path.join(root, "Network datatset/csv/attack_1.csv"))
df_network_att_2 = pd.read_csv(os.path.join(root, "Network datatset/csv/attack_2.csv"))
df_network_att_3 = pd.read_csv(os.path.join(root, "Network datatset/csv/attack_3.csv"))
df_network_att_4 = pd.read_csv(os.path.join(root, "Network datatset/csv/attack_4.csv"))

In [84]:
# add a column to identify the type of attack
df_network_normal["attack_number"] = 0
df_network_att_1["attack_number"] = 1
df_network_att_2["attack_number"] = 2
df_network_att_3["attack_number"] = 3
df_network_att_4["attack_number"] = 4

In [85]:
# merge all the network data
df_network_normal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7757289 entries, 0 to 7757288
Data columns (total 17 columns):
 #   Column           Dtype
---  ------           -----
 0   Time             object
 1   mac_s            object
 2   mac_d            object
 3   ip_s             object
 4   ip_d             object
 5   sport            int64
 6   dport            int64
 7   proto            object
 8   flags            int64
 9   size             int64
 10  modbus_fn        object
 11  n_pkt_src        int64
 12  n_pkt_dst        int64
 13  modbus_response  object
 14  label_n          int64
 15  label            object
 16  attack_number    int64
dtypes: int64(8), object(9)
memory usage: 1006.1+ MB

In [86]:
df_network_att_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5527409 entries, 0 to 5527408
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   Time              object
 1    mac_s            object
 2    mac_d            object
 3    ip_s             object
 4    ip_d             object
 5    sport            float64
 6    dport            float64
 7    proto            object
 8    flags            float64
 9    size             int64
 10   modbus_fn        object
 11   n_pkt_src        float64
 12   n_pkt_dst        float64
 13   modbus_response  object
 14   label_n          int64
 15   label            object
 16  attack_number     int64
dtypes: float64(5), int64(3), object(9)
memory usage: 716.9+ MB

In [87]:
df_network_att_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5159469 entries, 0 to 5159468
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   Time              object
 1    mac_s            object
 2    mac_d            object
 3    ip_s             object
 4    ip_d             object
 5    sport            float64
 6    dport            float64
 7    proto            object
 8    flags            float64
 9    size             int64
 10   modbus_fn        object
 11   n_pkt_src        float64
 12   n_pkt_dst        float64
 13   modbus_response  object
 14   label_n          int64
 15   label            object
 16  attack_number     int64
dtypes: float64(5), int64(3), object(9)
memory usage: 669.2+ MB

In [88]:
df_network_att_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5862547 entries, 0 to 5862546
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   Time              object
 1    mac_s            object
 2    mac_d            object
 3    ip_s             object
 4    ip_d             object
 5    sport            float64
 6    dport            float64
 7    proto            object
 8    flags            float64
 9    size             int64
 10   modbus_fn        object
 11   n_pkt_src        float64
 12   n_pkt_dst        float64
 13   modbus_response  object
 14   label_n          int64
 15   label            object
 16  attack_number     int64
dtypes: float64(5), int64(3), object(9)
memory usage: 760.4+ MB

In [89]:
df_network_att_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5522490 entries, 0 to 5522489
Data columns (total 17 columns):
 #   Column           Dtype
---  ------           -----
 0   Time             object
 1   mac_s            object
 2   mac_d            object
 3   ip_s             object
 4   ip_d             object
 5   sport            float64
 6   dport            float64
 7   proto            object
 8   flags            float64
 9   size             int64
 10  modbus_fn        object
 11  modbus_response  object
 12  n_pkt_src        float64
 13  n_pkt_dst        float64
 14  label_n          int64
 15  label            object
 16  attack_number    int64
dtypes: float64(5), int64(3), object(9)
memory usage: 716.3+ MB

In [90]:
# rename the columns to match the normal dataset
for df in [df_network_normal, df_network_att_1, df_network_att_2, df_network_att_3, df_network_att_4]:
    df.columns = df_network_normal.columns

In [91]:
# merge all the network data
df_network = pd.concat([df_network_normal, df_network_att_1, df_network_att_2, df_network_att_3, df_network_att_4])

In [92]:
df_network['attack_type_number'] = df_network['label'].map({'normal': 0, 'MITM': 1, 'physical fault': 2, 'DoS': 3, 'anomaly': 4, 'scan': 5})

In [93]:
df_network.label.value_counts()

label
normal            20453299
DoS                5671542
MITM               2155409
physical fault     1548504
anomaly                389
scan                    61
Name: count, dtype: int64

In [94]:
# delete the ligns where label is 'anomaly' or 'scan'
df_network = df_network[df_network.label != 'anomaly']
df_network = df_network[df_network.label != 'scan']

In [95]:
df_network.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29828754 entries, 0 to 5522489
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   Time                object
 1   mac_s               object
 2   mac_d               object
 3   ip_s                object
 4   ip_d                object
 5   sport               float64
 6   dport               float64
 7   proto               object
 8   flags               float64
 9   size                int64
 10  modbus_fn           object
 11  n_pkt_src           object
 12  n_pkt_dst           float64
 13  modbus_response     object
 14  label_n             int64
 15  label               object
 16  attack_number       int64
 17  attack_type_number  int64
dtypes: float64(4), int64(4), object(10)
memory usage: 4.2+ GB

In [96]:
# check missing values percentage
df_network.isnull().sum() / len(df_network) * 100

Time                   0.000000
mac_s                  0.000000
mac_d                  0.000000
ip_s                   0.003409
ip_d                   0.003409
sport                 15.504003
dport                 15.504003
proto                  0.000000
flags                 15.504003
size                   0.000000
modbus_fn             19.438509
n_pkt_src             12.195005
n_pkt_dst              0.003409
modbus_response       47.526092
label_n                0.000000
label                  0.000000
attack_number          0.000000
attack_type_number     0.000000
dtype: float64

In [97]:
# delete missing values
df_network = df_network.dropna()

In [98]:
df_network.head()

,Time,mac_s,mac_d,ip_s,ip_d,sport,dport,proto,flags,size,modbus_fn,n_pkt_src,n_pkt_dst,modbus_response,label_n,label,attack_number,attack_type_number
1,2021-04-09 11:30:52.716499,fa:00:bc:90:d7:fa,74:46:a0:bd:a7:1b,84.3.251.103,84.3.251.20,502.0,61516.0,Modbus,11000.0,65,Read Holding Registers Response,0,0.0,[0],0,normal,0,0
3,2021-04-09 11:30:52.717624,e6:3f:ac:c9:a8:8c,74:46:a0:bd:a7:1b,84.3.251.101,84.3.251.20,502.0,61515.0,Modbus,11000.0,65,Read Holding Registers Response,0,1.0,[0],0,normal,0,0
4,2021-04-09 11:30:52.717952,00:80:f4:03:fb:12,74:46:a0:bd:a7:1b,84.3.251.18,84.3.251.20,502.0,61514.0,Modbus,11000.0,64,Read Coils Response,0,2.0,[0],0,normal,0,0
6,2021-04-09 11:30:52.718499,0a:fe:ec:47:74:fb,74:46:a0:bd:a7:1b,84.3.251.102,84.3.251.20,502.0,61517.0,Modbus,11000.0,64,Read Coils Response,0,3.0,[0],0,normal,0,0
8,2021-04-09 11:30:52.719488,fa:00:bc:90:d7:fa,74:46:a0:bd:a7:1b,84.3.251.103,84.3.251.20,502.0,61516.0,Modbus,11000.0,64,Read Coils Response,1,4.0,[0],0,normal,0,0

In [99]:
# transform attack_type_number to int
df_network['attack_type_number'] = df_network['attack_type_number'].astype(int)

In [100]:
# delete [ and ] in the column 'modbus_response' and transform it to int
df_network['modbus_response'] = df_network['modbus_response'].str.replace('[', '')
df_network['modbus_response'] = df_network['modbus_response'].str.replace(']', '')
df_network['modbus_response'] = df_network['modbus_response'].fillna(0)  # Replace NaN values with 0
df_network['modbus_response'] = df_network['modbus_response'].astype(int)

In [101]:
# transform the time to datetime
df_network['Time'] = pd.to_datetime(df_network['Time'], format='%Y-%m-%d %H:%M:%S.%f', errors='coerce')

In [102]:
def downsample_data(data, label_column, target_percentage):
    """
    Downsample the data while conserving the same percentage of each label.

    Parameters:
    - data: Pandas DataFrame containing the dataset.
    - label_column: Name of the column containing the labels.
    - target_percentage: Target percentage to conserve for each label.

    Returns:
    - downsampled_data: Pandas DataFrame with downsampled data.
    """
    # Calculate the target count for each label
    target_counts = (data[label_column].value_counts() * target_percentage).round().astype(int)

    # Downsample each label
    downsampled_data = pd.DataFrame()
    for label, count in target_counts.items():
        label_data = data[data[label_column] == label]
        downsampled_label = label_data.sample(count, replace=False)  # Change replace to True for sampling with replacement
        downsampled_data = pd.concat([downsampled_data, downsampled_label])

    # order the data by time
    downsampled_data = downsampled_data.sort_values(by=['Time'])

    return downsampled_data

In [103]:
df_copy = df_network.copy()

In [104]:
df_network_downsampled = downsample_data(df_copy, "attack_number", 0.01)

In [105]:
df_network_downsampled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120156 entries, 161 to 1028126
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Time                120155 non-null  datetime64[ns]
 1   mac_s               120156 non-null  object
 2   mac_d               120156 non-null  object
 3   ip_s                120156 non-null  object
 4   ip_d                120156 non-null  object
 5   sport               120156 non-null  float64
 6   dport               120156 non-null  float64
 7   proto               120156 non-null  object
 8   flags               120156 non-null  float64
 9   size                120156 non-null  int64
 10  modbus_fn           120156 non-null  object
 11  n_pkt_src           120156 non-null  object
 12  n_pkt_dst           120156 non-null  float64
 13  modbus_response     120156 non-null  int32
 14  label_n             120156 non-null  int64
 15  label               120156 non-null  object
 16  attack_number       120156 non-null  int64
 17  attack_type_number  120156 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(2), int64(3), object(8)
memory usage: 16.5+ MB

In [106]:
df_network_downsampled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120156 entries, 161 to 1028126
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Time                120155 non-null  datetime64[ns]
 1   mac_s               120156 non-null  object
 2   mac_d               120156 non-null  object
 3   ip_s                120156 non-null  object
 4   ip_d                120156 non-null  object
 5   sport               120156 non-null  float64
 6   dport               120156 non-null  float64
 7   proto               120156 non-null  object
 8   flags               120156 non-null  float64
 9   size                120156 non-null  int64
 10  modbus_fn           120156 non-null  object
 11  n_pkt_src           120156 non-null  object
 12  n_pkt_dst           120156 non-null  float64
 13  modbus_response     120156 non-null  int32
 14  label_n             120156 non-null  int64
 15  label               120156 non-null  object
 16  attack_number       120156 non-null  int64
 17  attack_type_number  120156 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(2), int64(3), object(8)
memory usage: 16.5+ MB

In [107]:
# rename label and label_n to Label and Label_n
df_network_downsampled = df_network_downsampled.rename(columns={"label": "Label", "label_n": "Label_n"})

In [108]:
# save the dataset
df_network_downsampled.to_csv(os.path.join(root, "Network datatset/csv/network_downsampled.csv"), index=False)

In [109]:
df_network_downsampled.Label.value_counts()

Label
normal            99097
MITM              10474
physical fault     7497
DoS                3088
Name: count, dtype: int64

In [64]:
# Round the timestamps with milliseconds to the nearest second in df_network
df_network_downsampled['Time'] = df_network_downsampled['Time'].dt.round('1s')

# Merge the two dataframes based on the 'Time' and 'attack type number' and Label_n and Label columns and drop the 'attack' column
merged_df = pd.merge(df_network_downsampled, df_physical, on=['Time', 'attack_type_number', 'Label_n', 'Label'], how='inner')

In [65]:
merged_df.head()

,Time,mac_s,mac_d,ip_s,ip_d,sport,dport,proto,flags,size,...,Valv_11,Valv_12,Valv_13,Valv_14,Valv_15,Valv_17,Valv_18,Valv_20,Valv_22,attack number
0,2021-04-09 11:30:53,fa:00:bc:90:d7:fa,74:46:a0:bd:a7:1b,84.3.251.103,84.3.251.20,502.0,61516.0,Modbus,11000.0,65,...,0,0,0,0,0,0,0,0,0,0
1,2021-04-09 11:30:53,e6:3f:ac:c9:a8:8c,74:46:a0:bd:a7:1b,84.3.251.101,84.3.251.20,502.0,61515.0,Modbus,11000.0,65,...,0,0,0,0,0,0,0,0,0,0
2,2021-04-09 11:30:53,fa:00:bc:90:d7:fa,74:46:a0:bd:a7:1b,84.3.251.103,84.3.251.20,502.0,61516.0,Modbus,11000.0,65,...,0,0,0,0,0,0,0,0,0,0
3,2021-04-09 11:30:53,0a:fe:ec:47:74:fb,74:46:a0:bd:a7:1b,84.3.251.102,84.3.251.20,502.0,61517.0,Modbus,11000.0,65,...,0,0,0,0,0,0,0,0,0,0
4,2021-04-09 11:30:53,0a:fe:ec:47:74:fb,74:46:a0:bd:a7:1b,84.3.251.102,84.3.251.20,502.0,61517.0,Modbus,11000.0,64,...,0,0,0,0,0,0,0,0,0,0

In [66]:
# print the value counts of the attack column and then sum them
print(merged_df.columns)

Index(['Time', 'mac_s', 'mac_d', 'ip_s', 'ip_d', 'sport', 'dport', 'proto',
       'flags', 'size', 'modbus_fn', 'n_pkt_src', 'n_pkt_dst',
       'modbus_response', 'Label_n', 'Label', 'attack', 'attack_type_number',
       'Tank_1', 'Tank_2', 'Tank_3', 'Tank_4', 'Tank_5', 'Tank_6', 'Tank_7',
       'Tank_8', 'Pump_1', 'Pump_2', 'Pump_4', 'Pump_5', 'Pump_6',
       'Flow_sensor_1', 'Flow_sensor_2', 'Flow_sensor_4', 'Valv_10', 'Valv_11',
       'Valv_12', 'Valv_13', 'Valv_14', 'Valv_15', 'Valv_17', 'Valv_18',
       'Valv_20', 'Valv_22', 'attack number'],
      dtype='object')

In [67]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118909 entries, 0 to 118908
Data columns (total 45 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Time                118909 non-null  datetime64[ns]
 1   mac_s               118909 non-null  object
 2   mac_d               118909 non-null  object
 3   ip_s                118909 non-null  object
 4   ip_d                118909 non-null  object
 5   sport               118909 non-null  float64
 6   dport               118909 non-null  float64
 7   proto               118909 non-null  object
 8   flags               118909 non-null  float64
 9   size                118909 non-null  int64
 10  modbus_fn           118909 non-null  object
 11  n_pkt_src           118909 non-null  object
 12  n_pkt_dst           118909 non-null  float64
 13  modbus_response     118909 non-null  int32
 14  Label_n             118909 non-null  int64
 15  Label               118909 non-null  object
 16  attack              118909 non-null  int64
 17  attack_type_number  118909 non-null  int32
 18  Tank_1              118909 non-null  int64
 19  Tank_2              118909 non-null  int64
 20  Tank_3              118909 non-null  int64
 21  Tank_4              118909 non-null  int64
 22  Tank_5              118909 non-null  int64
 23  Tank_6              118909 non-null  int64
 24  Tank_7              118909 non-null  int64
 25  Tank_8              118909 non-null  int64
 26  Pump_1              118909 non-null  int64
 27  Pump_2              118909 non-null  int64
 28  Pump_4              118909 non-null  int64
 29  Pump_5              118909 non-null  int64
 30  Pump_6              118909 non-null  int64
 31  Flow_sensor_1       118909 non-null  int64
 32  Flow_sensor_2       118909 non-null  int64
 33  Flow_sensor_4       118909 non-null  int64
 34  Valv_10             118909 non-null  int64
 35  Valv_11             118909 non-null  int64
 36  Valv_12             118909 non-null  int64
 37  Valv_13             118909 non-null  int64
 38  Valv_14             118909 non-null  int64
 39  Valv_15             118909 non-null  int64
 40  Valv_17             118909 non-null  int64
 41  Valv_18             118909 non-null  int64
 42  Valv_20             118909 non-null  int64
 43  Valv_22             118909 non-null  int64
 44  attack number       118909 non-null  int64
dtypes: datetime64[ns](1), float64(4), int32(2), int64(30), object(8)
memory usage: 39.9+ MB

In [78]:
# delete columns with only one value
for col in merged_df.columns:
    if len(merged_df[col].unique()) == 1:
        merged_df = merged_df.drop(col, axis=1)

In [79]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118909 entries, 0 to 118908
Data columns (total 42 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Time                118909 non-null  datetime64[ns]
 1   mac_s               118909 non-null  object
 2   mac_d               118909 non-null  object
 3   ip_s                118909 non-null  object
 4   ip_d                118909 non-null  object
 5   dport               118909 non-null  float64
 6   size                118909 non-null  int64
 7   modbus_fn           118909 non-null  object
 8   n_pkt_src           118909 non-null  object
 9   n_pkt_dst           118909 non-null  float64
 10  modbus_response     118909 non-null  int32
 11  Label_n             118909 non-null  int64
 12  Label               118909 non-null  object
 13  attack              118909 non-null  int64
 14  attack_type_number  118909 non-null  int32
 15  Tank_1              118909 non-null  int64
 16  Tank_2              118909 non-null  int64
 17  Tank_3              118909 non-null  int64
 18  Tank_4              118909 non-null  int64
 19  Tank_5              118909 non-null  int64
 20  Tank_6              118909 non-null  int64
 21  Tank_7              118909 non-null  int64
 22  Tank_8              118909 non-null  int64
 23  Pump_1              118909 non-null  int64
 24  Pump_2              118909 non-null  int64
 25  Pump_4              118909 non-null  int64
 26  Pump_5              118909 non-null  int64
 27  Pump_6              118909 non-null  int64
 28  Flow_sensor_1       118909 non-null  int64
 29  Flow_sensor_2       118909 non-null  int64
 30  Flow_sensor_4       118909 non-null  int64
 31  Valv_10             118909 non-null  int64
 32  Valv_11             118909 non-null  int64
 33  Valv_12             118909 non-null  int64
 34  Valv_13             118909 non-null  int64
 35  Valv_14             118909 non-null  int64
 36  Valv_15             118909 non-null  int64
 37  Valv_17             118909 non-null  int64
 38  Valv_18             118909 non-null  int64
 39  Valv_20             118909 non-null  int64
 40  Valv_22             118909 non-null  int64
 41  attack number       118909 non-null  int64
dtypes: datetime64[ns](1), float64(2), int32(2), int64(30), object(7)
memory usage: 37.2+ MB

In [80]:
# show columns with only two values
for col in merged_df.columns:
    if len(merged_df[col].unique()) == 2:
        print(col)

modbus_fn
Label_n
Pump_1
Pump_2
Pump_4
Pump_5
Pump_6
Flow_sensor_2
Valv_10
Valv_11
Valv_12
Valv_13
Valv_14
Valv_15
Valv_17
Valv_18
Valv_20
Valv_22

In [83]:
# print the value counts of each column with only two values
for col in merged_df.columns:
    if len(merged_df[col].unique()) == 2:
        print(merged_df[col].value_counts())

modbus_fn
Read Holding Registers Response    69342
Read Coils Response                49567
Name: count, dtype: int64
Label_n
0    97995
1    20914
Name: count, dtype: int64
Pump_1
0    77064
1    41845
Name: count, dtype: int64
Pump_2
0    90909
1    28000
Name: count, dtype: int64
Pump_4
0    93509
1    25400
Name: count, dtype: int64
Pump_5
0    73887
1    45022
Name: count, dtype: int64
Pump_6
0    73400
1    45509
Name: count, dtype: int64
Flow_sensor_2
0       73447
4000    45462
Name: count, dtype: int64
Valv_10
1    72336
0    46573
Name: count, dtype: int64
Valv_11
1    72331
0    46578
Name: count, dtype: int64
Valv_12
1    72319
0    46590
Name: count, dtype: int64
Valv_13
0    70376
1    48533
Name: count, dtype: int64
Valv_14
0    70384
1    48525
Name: count, dtype: int64
Valv_15
0    70344
1    48565
Name: count, dtype: int64
Valv_17
1    62867
0    56042
Name: count, dtype: int64
Valv_18
0    91743
1    27166
Name: count, dtype: int64
Valv_20
1    72806
0    46103
Name: count, dtype: int64
Valv_22
0    64757
1    54152
Name: count, dtype: int64

In [70]:
# run algorithms
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
# import label encoder
from sklearn.preprocessing import LabelEncoder

data = merged_df.copy()

label_encoder = LabelEncoder()

categorical_columns = ['mac_s', 'mac_d', 'ip_s', 'ip_d', 'proto', 'modbus_fn', 'n_pkt_src']

# Apply label encoding to categorical columns
for col in categorical_columns:
    data[col] = label_encoder.fit_transform(data[col].astype(str))

X = data.drop(['Label', 'Label_n', 'Time','attack number','attack_type_number', 'attack'], axis=1)
y = data['Label_n']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

decision_tree = DecisionTreeClassifier()

decision_tree.fit(X_train, y_train)

y_pred = decision_tree.predict(X_test)

# Step 6: Evaluate the model
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Confusion Matrix:
[[19604     8]
 [    3  4167]]

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     19612
           1       1.00      1.00      1.00      4170

    accuracy                           1.00     23782
   macro avg       1.00      1.00      1.00     23782
weighted avg       1.00      1.00      1.00     23782

In [73]:
print(merged_df['attack_type_number'].value_counts())

attack_type_number
0    97995
1    10444
2     7463
3     3007
Name: count, dtype: int64

In [71]:
y_type = data['attack_type_number']

X_train, X_test, y_train, y_test = train_test_split(X, y_type, test_size=0.2, random_state=42)

decision_tree = DecisionTreeClassifier()

decision_tree.fit(X_train, y_train)

y_pred = decision_tree.predict(X_test)

# Step 6: Evaluate the model
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Confusion Matrix:
[[19607     2     2     1]
 [    1  2098     0     0]
 [    1     0  1494     0]
 [    0     0     0   576]]

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     19612
           1       1.00      1.00      1.00      2099
           2       1.00      1.00      1.00      1495
           3       1.00      1.00      1.00       576

    accuracy                           1.00     23782
   macro avg       1.00      1.00      1.00     23782
weighted avg       1.00      1.00      1.00     23782